## *02. Lectura de archivos*
Lo normal no es crear los datos desde cero como en los ejemplos anteriores. Lo más común es tener datos ya existentes, como por ejemplo en archivos en un formato concreto (.csv, .xlsx, .json, etc.) o en tablas SQL, aunque las opciones son muy numerosas. En cualquier caso, el objetivo es el mismo: leer esos datos y cargarlos en un `DataFrame` para poder procesarlos. Para ello, `pandas` cuenta con diversas funciones que permiten cubrir prácticamente cualquier caso de uso.

### **Lectura de archivos csv**
Un archivo CSV es, en esencia, una tabla de valores que están separados unos de otros mediante comas (aunque también pueden estar separados por otro tipo de delimitadores, como por ejemplo puntos y comas o el caracter "invisible" que surge cuando se presiona la tecla *tab*). Al abrir un archivo de este tipo, habitualmente nos encontraremos algo similar a lo siguiente:

In [1]:
import pandas as pd
import numpy as np

In [6]:
# Ejemplo de carga de un csv con delimitador ","
df = pd.read_csv(filepath_or_buffer='datasets/csv_file.csv',
                 sep=',')
df.head()

    Columna 1  Columna 2  Columna 3 Columna 4 Columna 5  Columna 6
0  2023-03-07       10.0        5.0   Valor 1     Valor          2
1  2023-03-07       10.0        5.0   Valor 2     Valor          2
2  2023-03-07       10.0        5.0   Valor 3     Valor          2
3  2023-03-07       10.0        5.0   Valor 4     Valor          2
4  2023-03-07       10.0        5.0   Valor 5     Valor          2

### **Lectura de archivos xlsx**
Para cargar los datos de archivos excel en DataFrames, pandas cuenta con la función `pd.read_excel()`. En realidad, esta función no solo está preparada para leer archivos en formato xlsx, sino también en xls, xlsm, xlsb, y odf. Además, cuenta con una opción para cargar una sola hoja del archivo excel o una lista de hojas. De la misma forma que para el caso de los archivos csv, aquí consideraremos solo algunos de los muchos parámetros de esta función:

In [7]:
# Ejemplo de carga de un archivo xlsx
df = pd.read_excel('datasets/xlsx_file.xlsx')
df.head()

   Columna 1  Columna 2  Columna 3 Columna 4 Columna 5  Columna 6
0 2023-03-07         10          5   Valor 1     Valor          2
1 2023-03-07         10          5   Valor 2     Valor          2
2 2023-03-07         10          5   Valor 3     Valor          2
3 2023-03-07         10          5   Valor 4     Valor          2
4 2023-03-07         10          5   Valor 5     Valor          2

### **Lectura de archivos en otros formatos**
`Pandas` cuenta con un gran número de funciones similares a read_csv() y read_excel(), que nos permiten leer datos de prácticamente cualquier procedencia:
- pd.read_sql()
- pd.read_json
- pd.read_html()
- Entre otros

El uso de todas estas funciones es muy parecido: únicamente requiere consultar la documentación oficial de `pandas` para seleccionar los parámetros que necesitemos incluir.

---
---